In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_excel('/content/datadictionary.xlsx')
data

            Attribute                 Description
0                Name                    Car Name
1            Location                Car Location
2                Year      Car Manufacturing year
3   Kilometers_Driven           Kilometers Driven
4           Fuel_Type                Type of fuel
5        Transmission       Type  of transmission
6          Owner_Type               Owner's  type
7             Mileage               Car's mileage
8              Engine             Engine Capacity
9               Power                Engine power
10             Colour                  Car Colour
11              Seats  Number of seating capacity
12       No. of Doors             Number of doors
13          New_Price          Price of new model
14              Price                  Car  Price

In [ ]:
df = pd.read_csv('/content/Cars.csv')
df

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Colour,Seats,No. of Doors,New_Price,Price
0,Mahindra Scorpio,Pune,2012.0,99000.0,Diesel,Manual,Third,12.05 kmpl,2179 CC,120 bhp,Black/Silver,8.0,5.0,NaN,6.00
1,Maruti Baleno,Kochi,2018.0,18678.0,Petrol,Manual,First,21.1 kmpl,998 CC,100 bhp,Others,5.0,4.0,NaN,8.32
2,Mahindra Xylo,Bangalore,2013.0,197000.0,Diesel,Manual,First,11.68 kmpl,2498 CC,112 bhp,White,7.0,5.0,NaN,4.00
3,Hyundai Grand,Delhi,2014.0,45000.0,Diesel,Manual,First,24.0 kmpl,1120 CC,70 bhp,White,5.0,4.0,NaN,3.49
4,Toyota Innova,Delhi,2011.0,65000.0,Diesel,Manual,First,12.8 kmpl,2494 CC,102 bhp,Others,8.0,5.0,NaN,6.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5956,Honda Civic,Pune,2011.0,47000.0,Petrol,Automatic,Second,13.9 kmpl,1799 CC,130.3 bhp,Others,5.0,4.0,NaN,4.50
5957,Hyundai i20,Delhi,2013.0,63777.0,Petrol,Manual,First,18.5 kmpl,1197 CC,82.9 bhp,Black/Silver,5.0,4.0,NaN,3.67
5958,Maruti Swift,Coimbatore,2016.0,37806.0,Petrol,Manual,First,20.4 kmpl,1197 CC,81.80 bhp,Black/Silver,5.0,4.0,NaN,5.20
5959,Mercedes-Benz SLK-Class,Coimbatore,2016.0,22732.0,Petrol,Automatic,First,18.1 kmpl,3498 CC,306 bhp,Black/Silver,2.0,2.0,NaN,55.54
5960,Hyundai i10,Kolkata,2016.0,7000.0,Petrol,Manual,First,20.36 kmpl,1197 CC,78.9 bhp,White,5.0,4.0,NaN,3.60

In [ ]:
df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Colour,Seats,No. of Doors,New_Price,Price
0,Mahindra Scorpio,Pune,2012.0,99000.0,Diesel,Manual,Third,12.05 kmpl,2179 CC,120 bhp,Black/Silver,8.0,5.0,NaN,6.00
1,Maruti Baleno,Kochi,2018.0,18678.0,Petrol,Manual,First,21.1 kmpl,998 CC,100 bhp,Others,5.0,4.0,NaN,8.32
2,Mahindra Xylo,Bangalore,2013.0,197000.0,Diesel,Manual,First,11.68 kmpl,2498 CC,112 bhp,White,7.0,5.0,NaN,4.00
3,Hyundai Grand,Delhi,2014.0,45000.0,Diesel,Manual,First,24.0 kmpl,1120 CC,70 bhp,White,5.0,4.0,NaN,3.49
4,Toyota Innova,Delhi,2011.0,65000.0,Diesel,Manual,First,12.8 kmpl,2494 CC,102 bhp,Others,8.0,5.0,NaN,6.40

In [ ]:
df.shape

(5961, 15)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

(5960, 15)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5960 entries, 0 to 5960
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               5960 non-null   object
 1   Location           5949 non-null   object
 2   Year               5958 non-null   float64
 3   Kilometers_Driven  5952 non-null   float64
 4   Fuel_Type          5960 non-null   object
 5   Transmission       5933 non-null   object
 6   Owner_Type         5945 non-null   object
 7   Mileage            5958 non-null   object
 8   Engine             5943 non-null   object
 9   Power              5928 non-null   object
 10  Colour             5949 non-null   object
 11  Seats              5955 non-null   float64
 12  No. of Doors       5959 non-null   float64
 13  New_Price          824 non-null    object
 14  Price              5960 non-null   float64
dtypes: float64(5), object(10)
memory usage: 745.0+ KB

Data Preprocessing

In [ ]:
df_cat = ['Name','Location','Fuel_Type','Transmission','Owner_Type','Colour']

In [ ]:
for col in df_cat:
    print(col.upper(),":",df[col].nunique())
    print(df[col].value_counts().sort_values(ascending=False))
    print('\n')

NAME : 212
Maruti Swift           343
Honda City             265
Hyundai i20            247
Hyundai Verna          170
Toyota Innova          164
                      ...
Fiat Petra               1
Volkswagen Tiguan        1
Mitsubishi Montero       1
Bentley Continental      1
Mahindra E               1
Name: Name, Length: 212, dtype: int64


LOCATION : 11
Mumbai        781
Hyderabad     738
Kochi         646
Coimbatore    630
Pune          611
Delhi         549
Kolkata       526
Chennai       489
Jaipur        406
Bangalore     351
Ahmedabad     222
Name: Location, dtype: int64


FUEL_TYPE : 5
Diesel      3188
Petrol      2704
CNG           56
LPG           10
Electric       2
Name: Fuel_Type, dtype: int64


TRANSMISSION : 2
Manual       4224
Automatic    1709
Name: Transmission, dtype: int64


OWNER_TYPE : 4
First             4874
Second             953
Third              110
Fourth & Above       8
Name: Owner_Type, dtype: int64


COLOUR : 3
White           2115
Others          1986
Black/Silver    1848
Name: Colour, dtype: int64

In [ ]:
df.drop('Name',axis=1,inplace=True)

In [ ]:
df['Mileage'] = df['Mileage'].str.replace('[a-zA-Z/]', '',regex=True)
df['Mileage'] = df['Mileage'].astype('float')

In [ ]:
df['Power'] = df['Power'].str.replace('[a-zA-Z/ ]', '',regex=True)
df['Power'].replace('',np.nan,inplace=True)

In [ ]:
df['Power'] = df['Power'].astype('float')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5960 entries, 0 to 5960
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           5949 non-null   object
 1   Year               5958 non-null   float64
 2   Kilometers_Driven  5952 non-null   float64
 3   Fuel_Type          5960 non-null   object
 4   Transmission       5933 non-null   object
 5   Owner_Type         5945 non-null   object
 6   Mileage            5958 non-null   float64
 7   Engine             5943 non-null   object
 8   Power              5825 non-null   float64
 9   Colour             5949 non-null   object
 10  Seats              5955 non-null   float64
 11  No. of Doors       5959 non-null   float64
 12  New_Price          824 non-null    object
 13  Price              5960 non-null   float64
dtypes: float64(7), object(7)
memory usage: 698.4+ KB

Checking percentage of missing values

In [ ]:
df['New_Price'].isnull().sum()

5136

In [ ]:
for i in df.columns:
    print('Precentage of missing values is {} % in {} '.format(round(
        (df[i].isnull().sum()/df.shape[0])*100,2),i))

Precentage of missing values is 0.18 % in Location
Precentage of missing values is 0.03 % in Year
Precentage of missing values is 0.13 % in Kilometers_Driven
Precentage of missing values is 0.0 % in Fuel_Type
Precentage of missing values is 0.45 % in Transmission
Precentage of missing values is 0.25 % in Owner_Type
Precentage of missing values is 0.03 % in Mileage
Precentage of missing values is 0.29 % in Engine
Precentage of missing values is 2.27 % in Power
Precentage of missing values is 0.18 % in Colour
Precentage of missing values is 0.08 % in Seats
Precentage of missing values is 0.02 % in No. of Doors
Precentage of missing values is 86.17 % in New_Price
Precentage of missing values is 0.0 % in Price

In [ ]:
df.drop('New_Price',axis=1,inplace=True)

In [ ]:
for col in df.select_dtypes(exclude='object'):
    df[col] = df[col].replace(np.nan,df[col].median())

In [ ]:
df.isnull().sum()

Location             11
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission         27
Owner_Type           15
Mileage               0
Engine               17
Power                 0
Colour               11
Seats                 0
No. of Doors          0
Price                 0
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.shape

(5904, 13)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5904 entries, 0 to 5960
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           5904 non-null   object
 1   Year               5904 non-null   float64
 2   Kilometers_Driven  5904 non-null   float64
 3   Fuel_Type          5904 non-null   object
 4   Transmission       5904 non-null   object
 5   Owner_Type         5904 non-null   object
 6   Mileage            5904 non-null   float64
 7   Engine             5904 non-null   object
 8   Power              5904 non-null   float64
 9   Colour             5904 non-null   object
 10  Seats              5904 non-null   float64
 11  No. of Doors       5904 non-null   float64
 12  Price              5904 non-null   float64
dtypes: float64(7), object(6)
memory usage: 645.8+ KB

In [ ]:
df.isnull().sum()

Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Colour               0
Seats                0
No. of Doors         0
Price                0
dtype: int64

In [ ]:
for col in df.select_dtypes(include='object'):
    print(df[col].value_counts())
    print('\n')

Mumbai        772
Hyderabad     734
Kochi         641
Coimbatore    625
Pune          604
Delhi         543
Kolkata       525
Chennai       486
Jaipur        403
Bangalore     349
Ahmedabad     222
Name: Location, dtype: int64


Diesel      3155
Petrol      2683
CNG           55
LPG            9
Electric       2
Name: Fuel_Type, dtype: int64


Manual       4206
Automatic    1698
Name: Transmission, dtype: int64


First             4847
Second             943
Third              107
Fourth & Above       7
Name: Owner_Type, dtype: int64


1197 CC    606
1248 CC    500
1498 CC    302
998 CC     257
2179 CC    238
          ...
2694 CC      1
4951 CC      1
2773 CC      1
1422 CC      1
2487 CC      1
Name: Engine, Length: 143, dtype: int64


White           2093
Others          1970
Black/Silver    1841
Name: Colour, dtype: int64

In [ ]:
df.head(10)

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Colour,Seats,No. of Doors,Price
0,Pune,2012.0,99000.0,Diesel,Manual,Third,12.05,2179 CC,120.0,Black/Silver,8.0,5.0,6.00
1,Kochi,2018.0,18678.0,Petrol,Manual,First,21.10,998 CC,100.0,Others,5.0,4.0,8.32
2,Bangalore,2013.0,197000.0,Diesel,Manual,First,11.68,2498 CC,112.0,White,7.0,5.0,4.00
3,Delhi,2014.0,45000.0,Diesel,Manual,First,24.00,1120 CC,70.0,White,5.0,4.0,3.49
4,Delhi,2011.0,65000.0,Diesel,Manual,First,12.80,2494 CC,102.0,Others,8.0,5.0,6.40
5,Kochi,2018.0,15135.0,Petrol,Manual,First,17.50,1199 CC,88.7,White,5.0,4.0,9.29
6,Bangalore,2016.0,79000.0,Diesel,Manual,First,24.80,1396 CC,88.7,White,5.0,4.0,7.25
7,Pune,2015.0,36000.0,Diesel,Automatic,First,12.55,2982 CC,168.5,White,7.0,5.0,22.00
8,Hyderabad,2009.0,156056.0,Diesel,Manual,First,12.80,2494 CC,102.0,Others,8.0,5.0,8.50
9,Hyderabad,2012.0,61250.0,Diesel,Manual,First,25.44,936 CC,57.6,Others,5.0,4.0,2.70

Checking descriptive Stats of the data
1. Chechking the descriptive stats(5 pt summary i.e, min,max,25%,50%,75%)
2. Comparing mean and median (to check if there are any outliers present in a column)
3. If there are any categorical columns check the number of unique values present and check its top and frequency.

In [ ]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Location,5904,11,Mumbai,772,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,5904.0,NaN,NaN,NaN,2013.397696,3.243994,1998.0,2012.0,2014.0,2016.0,2019.0
Kilometers_Driven,5904.0,NaN,NaN,NaN,58671.910908,92031.823114,171.0,33841.25,53000.0,73000.0,6500000.0
Fuel_Type,5904,5,Diesel,3155,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Transmission,5904,2,Manual,4206,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Owner_Type,5904,4,First,4847,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mileage,5904.0,NaN,NaN,NaN,18.184997,4.52145,0.0,15.245,18.16,21.1,33.54
Engine,5904,143,1197 CC,606,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Power,5904.0,NaN,NaN,NaN,113.126467,53.397798,34.2,78.0,98.59,138.1,560.0
Colour,5904,3,White,2093,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Seats,5904.0,NaN,NaN,NaN,5.269478,0.789592,2.0,5.0,5.0,5.0,10.0
No. of Doors,5904.0,NaN,NaN,NaN,4.115346,0.345453,2.0,4.0,4.0,4.0,5.0
Price,5904.0,NaN,NaN,NaN,9.536541,11.240596,0.44,3.5,5.665,10.0,160.0

In [ ]:
df[df['Mileage']==0]

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Colour,Seats,No. of Doors,Price
19,Hyderabad,2012.0,139000.0,Diesel,Automatic,First,0.0,2179 CC,115.00,Black/Silver,5.0,4.0,16.75
36,Mumbai,2018.0,8682.0,Diesel,Automatic,First,0.0,1950 CC,194.00,White,5.0,4.0,39.50
515,Ahmedabad,2005.0,58000.0,Petrol,Manual,Second,0.0,999 CC,98.59,Black/Silver,5.0,4.0,1.51
920,Kolkata,2012.0,24720.0,Diesel,Automatic,Second,0.0,2967 CC,241.40,Others,5.0,4.0,28.00
955,Bangalore,2014.0,33000.0,Diesel,Automatic,Second,0.0,2987 CC,165.00,Black/Silver,5.0,4.0,43.00
1110,Hyderabad,2010.0,54000.0,Petrol,Automatic,First,0.0,3597 CC,262.60,Black/Silver,5.0,4.0,6.00
1211,Kochi,2011.0,20842.0,Petrol,Manual,First,0.0,1086 CC,62.00,Others,5.0,4.0,2.78
1384,Chennai,2007.0,82000.0,Petrol,Manual,Second,0.0,1086 CC,98.59,Black/Silver,5.0,4.0,1.35
1451,Jaipur,2005.0,120000.0,Petrol,Manual,First,0.0,1086 CC,98.59,Others,5.0,4.0,1.15
1661,Hyderabad,2009.0,26000.0,Diesel,Manual,First,0.0,2498 CC,98.59,White,6.0,5.0,6.99
1687,Ahmedabad,2012.0,66000.0,Diesel,Automatic,First,0.0,2987 CC,165.00,White,5.0,4.0,23.00
1751,Kolkata,2009.0,60170.0,Petrol,Manual,First,0.0,1086 CC,62.00,White,5.0,4.0,1.15
1907,Bangalore,2004.0,167000.0,Petrol,Manual,First,0.0,1086 CC,98.59,Others,5.0,4.0,1.35
2005,Pune,2007.0,70000.0,Petrol,Manual,First,0.0,1086 CC,98.59,White,5.0,4.0,1.12
2245,Pune,2008.0,103000.0,Diesel,Automatic,Second,0.0,799 CC,98.59,White,2.0,2.0,3.00
2286,Chennai,2002.0,67000.0,Petrol,Manual,Third,0.0,999 CC,98.59,Black/Silver,5.0,4.0,1.20
2298,Pune,2008.0,93000.0,Petrol,Manual,First,0.0,1086 CC,62.00,White,5.0,4.0,1.45
2549,Chennai,2012.0,63000.0,Diesel,Automatic,First,0.0,2987 CC,165.00,White,5.0,4.0,26.00
2710,Chennai,2006.0,85000.0,Petrol,Manual,Third,0.0,1086 CC,98.59,Black/Silver,5.0,4.0,1.30
2927,Pune,2015.0,69000.0,Diesel,Automatic,First,0.0,2987 CC,165.00,Others,5.0,4.0,38.00
2936,Delhi,2012.0,61449.0,Petrol,Manual,First,0.0,1086 CC,62.00,Others,5.0,4.0,2.15
3015,Pune,2011.0,65400.0,Petrol,Manual,First,0.0,1086 CC,98.59,Black/Silver,5.0,4.0,2.10
3029,Chennai,2005.0,105000.0,Petrol,Manual,First,0.0,999 CC,98.59,White,5.0,4.0,1.75
3149,Hyderabad,2013.0,46000.0,Diesel,Automatic,Second,0.0,2179 CC,115.00,Others,5.0,4.0,26.00
3201,Jaipur,2012.0,119203.0,Diesel,Automatic,First,0.0,2179 CC,115.00,Others,5.0,4.0,16.50
3221,Kolkata,2008.0,45500.0,Petrol,Manual,Second,0.0,1086 CC,98.59,Others,5.0,4.0,1.17
3242,Chennai,2002.0,75000.0,Diesel,Manual,First,0.0,2112 CC,98.59,Black/Silver,6.0,5.0,1.70
3246,Jaipur,2001.0,70000.0,Petrol,Manual,Third,0.0,1242 CC,98.59,White,5.0,4.0,0.55
3532,Pune,2005.0,70000.0,Petrol,Manual,First,0.0,1590 CC,98.59,Black/Silver,5.0,4.0,1.30
3632,Coimbatore,2016.0,27833.0,Diesel,Automatic,First,0.0,2987 CC,165.00,Others,5.0,4.0,49.24
3778,Pune,2004.0,215750.0,Diesel,Manual,Second,0.0,2446 CC,98.59,Black/Silver,10.0,5.0,3.50
3914,Hyderabad,2007.0,96000.0,Petrol,Manual,Second,0.0,999 CC,98.59,White,5.0,4.0,2.20
3940,Jaipur,2004.0,200000.0,Petrol,Manual,First,0.0,1086 CC,98.59,Black/Silver,5.0,4.0,0.80
3968,Coimbatore,2016.0,22769.0,Diesel,Automatic,First,0.0,2987 CC,165.00,Black/Silver,5.0,4.0,49.22
4151,Coimbatore,2019.0,15369.0,Diesel,Automatic,First,0.0,1950 CC,194.00,Others,5.0,4.0,35.67
4316,Chennai,2002.0,70000.0,Petrol,Manual,Third,0.0,1086 CC,98.59,Black/Silver,5.0,4.0,0.65
4334,Delhi,2013.0,72000.0,Diesel,Automatic,First,0.0,2179 CC,115.00,Others,5.0,4.0,15.50
4470,Hyderabad,2006.0,99000.0,Petrol,Manual,First,0.0,1086 CC,98.59,White,5.0,4.0,1.75
4620,Mumbai,2001.0,227000.0,Diesel,Manual,Fourth & Above,0.0,2446 CC,98.59,Black/Silver,8.0,5.0,2.20
4745,Coimbatore,2012.0,50243.0,Petrol,Manual,First,0.0,1086 CC,98.59,Others,5.0,4.0,3.35
4887,Coimbatore,2012.0,51019.0,Petrol,Manual,First,0.0,999 CC,98.59,White,5.0,4.0,3.48
4931,Jaipur,2009.0,89000.0,Petrol,Manual,Second,0.0,999 CC,98.59,Others,5.0,4.0,1.60
5002,Pune,2012.0,85000.0,Diesel,Automatic,Second,0.0,2179 CC,115.00,Others,5.0,4.0,17.50
5305,Hyderabad,2010.0,42021.0,Diesel,Manual,First,0.0,1968 CC,98.59,Others,5.0,4.0,5.45
5341,Bangalore,2008.0,35268.0,Petrol,Manual,Second,0.0,1086 CC,62.00,Black/Silver,5.0,4.0,1.88
5439,Mumbai,2008.0,65000.0,Petrol,Manual,Second,0.0,1086 CC,62.00,Others,5.0,4.0,1.39
5451,Hyderabad,2005.0,87591.0,Petrol,Manual,First,0.0,1086 CC,98.59,White,5.0,4.0,1.30
5466,Bangalore,2015.0,20000.0,Diesel,Automatic,First,0.0,2987 CC,165.00,Black/Silver,5.0,4.0,47.35
5491,Hyderabad,2010.0,58163.0,Petrol,Manual,First,0.0,1086 CC,62.00,Black/Silver,5.0,4.0,2.45
5643,Bangalore,2010.0,125000.0,Diesel,Automatic,Second,0.0,2179 CC,115.00,Others,5.0,4.0,11.00
5719,Pune,2014.0,120000.0,Diesel,Automatic,First,0.0,2987 CC,165.00,Black/Silver,5.0,4.0,30.00
5729,Kochi,2019.0,13190.0,Petrol,Automatic,First,0.0,1950 CC,181.43,White,5.0,4.0,38.99
5777,Chennai,2006.0,58000.0,Petrol,Manual,Second,0.0,1086 CC,98.59,Others,5.0,4.0,1.50
5833,Hyderabad,2006.0,74483.0,Petrol,Automatic,First,0.0,999 CC,98.59,Black/Silver,5.0,4.0,2.30
5883,Ahmedabad,2019.0,4000.0,Diesel,Automatic,First,0.0,1950 CC,194.00,Black/Silver,5.0,4.0,35.00

In [ ]:
df[df['Engine']==72]

Empty DataFrame
Columns: [Location, Year, Kilometers_Driven, Fuel_Type, Transmission, Owner_Type, Mileage, Engine, Power, Colour, Seats, No. of Doors, Price]
Index: []

In [ ]:
df = df.drop(df[df['Engine'] == 72].index)
df[df['Engine']==72]

Empty DataFrame
Columns: [Location, Year, Kilometers_Driven, Fuel_Type, Transmission, Owner_Type, Mileage, Engine, Power, Colour, Seats, No. of Doors, Price]
Index: []

In [ ]:
df.shape

(5904, 13)

In [ ]:
df.columns

Index(['Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission',
       'Owner_Type', 'Mileage', 'Engine', 'Power', 'Colour', 'Seats',
       'No. of Doors', 'Price'],
      dtype='object')